<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= locals.product.name %> </title>
  </head>
  <body>
    <h1>locals.product.name</h1>
    <div class="products-container">      
      <div class="product">
        <div class="product_name"><%= product.name %></div>
        <div class="category">Category: <%= product.categoryid %></div>
        <div class="producer">Producer: <%= product.producerid %></div>
        <div class="price">Price: €<%= product.price %></div>
        <div class="quantity">Stock: <%= product.quantity %></div>
        <div class="best_before_date">
          Best Before: <%= product.best_before_date %>
        </div>
        <img
          src="<%= product.image_url %>"
          alt="Picture of <%= product.name %>"
        />         
    </div>

    <a href="/">Go back to Homepage</a>
  </body>
</html>
